@model MVCMedicoSoft.Areas.Agenda.Models.BoiteMedecinEtPersonne
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agenda/Views/Shared/_LayoutAgenda.cshtml";
}

<h2>Index</h2>

    @{
        Html.RenderPartial("_ListPatient", Model.LstPers);
        Html.RenderPartial("_ListMedecin", Model.LstMed);
    }
<form method="post" action="~/Agenda/Calendar/AddRdv">
   <input type="hidden" name="selPers" id="selPers" />
    <input type="hidden" name="selMed" id="selMed" />
    Date du Rendez-vous : <input type="date" name="txtDateRdv" />
    <br />
    Heure du Rendez-vous: <input type="time" name="txtHeureRdv" />
    <br />
    Durée du rendez vous <br />
    <select name="duree">
        <option value="15min">15minutes</option>
        <option value="30min">30 minutes</option>
        <option value="1h00">1h</option>
    </select><br />
    Description du rendez-vous<br/>
    <textarea name="descr" cols="25" rows="5"></textarea>
    <br />
    <input type="submit" value="Enregistrer" />
</form>

<script>
    function setSelMed(r)
    {
        document.getElementById("selMed").value = r.value;
    }
    function setSelPers(r) {
        document.getElementById("selPers").value = r.value;
    }
</script>
