@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Save Me</h2>
<form method="post">
    Votre numéro de registre national : <input type="text" name="txtregnat" />
    <button>Save Me</button>
</form>



