@model DAL.Personne
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert-success" style="font-size:16px; font-weight:bold;margin-top:100px;">

    <center>
        <div class="alert-warning">
            Pas de panique @Html.DisplayFor(m => m.Nom), nous arrivons!!!
        </div>

        @{           
                Html.RenderPartial("_geoLocGoogleItineraire");
        }
    </center>
</div>